<div>
    <h1 class="page-header">User Management</h1>
    <div class="sub-header">
        <button type="button" class="btn btn-primary" style="margin-right:15px" ng-click="$ctrl.openAddUserWithDetail()"><span class="glyphicon glyphicon-plus"> Add</span></button>
    	<button type="button" class="btn btn-danger " style="margin-right:15px" ng-click="$ctrl.deleteUser()"><span class="glyphicon glyphicon-remove"> Delete</span></button>
    </div>
    <table style="text-align: center;" ng-table="$ctrl.tableParams" class="table table-bordered table-striped table-hover">
        <tr ng-repeat="row in $data">
        	<td data-title="'#'" style="width: 40px;padding-left: 10px;"><input class="checkbox" style="width:17px;height:17px" type="checkbox" ng-checked="{{$ctrl.isSelected(row)}}" ng-click="$ctrl.checkSelectStatus($event,row)"/></td>
            
            <td data-title="'username'" filter="{ username : 'text'}" sortable="'username'">
                <span><a ng-click="$ctrl.clickDetail(row)" style="cursor: pointer;">{{row.username}}</a></span>
            </td>
            
            <td data-title="'role'" filter="{ role : 'text'}" sortable="'role'">
                <span>{{row.role}}</span>
            </td>
            
        </tr>
    </table>

    <!-- Customized Modal -->
    <div id="userDetailModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>User Detail</h3>
                </div>
                <div class="modal-body">
                	<div class="form-content">
	                    <user-info mode="$ctrl.editableMode" user-with-detail="$ctrl.clickedUser" is-form-valid="$ctrl.isFormValid" user-role-category="$ctrl.userRoleCategoryList"></user-info>
                	</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="width:80px;margin-right:10px" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" style="width:80px" ng-disabled="$ctrl.isFormValid" ng-click="$ctrl.saveUserWithDetail($ctrl.clickedUser)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


